#buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.container1 {
    /* margin-top: 60px; */
    max-width: 700px;
    margin: 60px auto;
    border: 1px solid rgba(255, 255, 255, 0.603);
    border-radius: 24px;
    padding: 20px;
    backdrop-filter: blur(2px);
}

.table {
    --bs-table-bg: transparent;
    border-radius: 24px;
    /* background-color: #ffffff1f; */
}

.table th {
    color: rgb(227, 232, 237);
}

th {
    text-align: center;
}